<div class="container mt-2">
    <ng-container *ngIf="patientsObservable | async as listPatients; else failure">
        <div class="card">
            <div class="card-header">Patients</div>
                <div class="card-body">
                    <div *ngIf="searchFormGroup">
                        <!-- {{this.searchFormGroup.value | json}} -->
                        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchPatient()">  <!--(ngSubmit)="handleSearchPatient()"-->
                            <div class="input-group">
                                <label class="input-group-text">Name : </label>
                                <input type="text" formControlName="keyword" class="form-control">
                                <button class="btn btn-info"><i class="bi bi-search"></i></button>

                            </div>

                        </form>

                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom Prenom</th>
                                <th>Date Naissance</th>
                                <th>Phone Number</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- subscribe automatic avec async -->
                            <tr *ngFor="let p of listPatients.patientDTOS">
                                <td>{{p.id}}</td>
                                <td>{{p.nomPr}}</td>
                                <td>{{p.dateNaissance}}</td>
                                <td>{{p.phoneNumber}}</td>

                                <td>
                                    <button (click)="handleDeletePatient(p)" class="btn btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                    <button (click)="handleRdvPatientid(p)" type="button" class="btn btn-success ms-2">Rendez vous</button>  
                                </td>
                            </tr>
                            
                            
    
                        </tbody>
    
                    </table>
                    <ul class="nav nav-pills">
                        <li *ngFor="let item of [].constructor(listPatients.totalPages); let page=index">
                            <a [ngClass]="page==currentPage?'btn-info':'btn-outline-info'" (click)="gotoPage(page)" class="btn ms-1 mt-1">{{page+1}}</a>


                        </li>

                    </ul>
                </div>
        </div>
    </ng-container>

    <ng-template #failure>
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
    </ng-template>

    <!-- <div *ngIf="errorMessage">
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
    </div> -->

    

</div>